OWNER_NAME="*ΛPΣXGӨDS* 𝕏 *`𝟘𝟜𝔻𝔸ℕ𝔾𝔼ℝ`*"
PREFIX="."
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "*ΛPΣXGӨDS* 𝕏 *`𝟘𝟜𝔻𝔸ℕ𝔾𝔼ℝ`*"
IMAGE_MENU= "https://i.imgur.com/SinkyjS.jpeg"
NUMERO_OWNER= "2348027301311"
OWNER_NAME= "*ΛPΣXGӨDS* 𝕏 *`𝟘𝟜𝔻𝔸ℕ𝔾𝔼ℝ`*"
DATABASE_URL= ""
WARN_COUNT= "3"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='no'
ANTI_DELETE_MESSAGE='yes'
