OWNER_NAME="*ΛPΣXGӨDS* 𝕏 *`𝟘𝟜𝔻𝔸ℕ𝔾𝔼ℝ`*"
PREFIX="."
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "FLASH-MD"
IMAGE_MENU= "https://static.animecorner.me/2023/08/op2.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "*ΛPΣXGӨDS* 𝕏 *`𝟘𝟜𝔻𝔸ℕ𝔾𝔼ℝ`*"
DATABASE_URL= ""
WARN_COUNT= "3"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='no'
ANTI_DELETE_MESSAGE='yes'
